<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Chat</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./styles/styles.css">
</head>
<body class="theme">

    <div id="app" >

        <div class="new-nick-container containerTheme " ref="nickForm"
        tabindex="0">
        <h2>Change NickName</h2>
            <form class="nick-form" >
              
                <label>
                    <input type="text" placeholder="New nick..." v-model="newNickName" class="nick-form-input">
                </label>
                <button type="submit" @click.prevent="changeNickName" class="nick-form-button">SAVE</button>
                <button @click.prevent="hideNickForm" class="nick-form-button textColor__red">CANCEL</button>
            </form>
        </div>

        <div class="settings-container">
            <form>
            <legend>Themes</legend>
               <label>
                <input type="radio" name="theme" value="dark" @click="theme('dark')" ref="dark">Dark
                
               </label>

               <label>
                <input type="radio" name="theme" value="pastel" @click="theme('light')" ref="light">Light
               </label>
               
              
            </form>
        </div>

        <header class="header">
           <div class="top-bar">

            <div class="top-bar__settings">
                <a href="#">Settings</a>
            </div>
            <div class="top-bar__color--container" ref="messageColorContainer">
  
                <button class="textColor__red selectColor" @click.prevent="mainChatMessageColor('RED')" ref="messageColorRED"></button>
                <button class="textColor__blue selectColor" @click.prevent="mainChatMessageColor('BLUE')" ref="messageColorBLUE"></button>
                <button class="textColor__yellow selectColor" @click.prevent="mainChatMessageColor('YELLOW')" ref="messageColorYELLOW"></button>
                <button class="textColor__green selectColor" @click.prevent="mainChatMessageColor('GREEN')" ref="messageColorGREEN"></button>
                <button class="textColor__brown selectColor" @click.prevent="mainChatMessageColor('BROWN')" ref="messageColorBROWN"></button>
                <button class="textColor__orange selectColor" @click.prevent="mainChatMessageColor('ORANGE')" ref="messageColorORANGE"></button>
                <button class="textColor__teal selectColor" @click.prevent="mainChatMessageColor('TEAL')" ref="messageColorTEAL"></button>
                <button class="textColor__grey selectColor" @click.prevent="mainChatMessageColor('GREY')" ref="messageColorGREY"></button>
            </div>
            <div class="top-bar__user containerTheme" @mouseenter="showUserList()" @mouseleave="hideUserList()">
                <a class="top-bar__user--nick">{{clientLogged.nickName}}</a>
                <ul class="top-bar__user--list containerTheme" ref="userList">
                 
                    <li class="top-bar__user--list-item top-bar__user--changeNick" @click="showNickForm">Change Nick</li>
                    <li class="top-bar__user--list-item top-bar__user--logout" @click="logout">Log out</li>
                </ul>
                


             </div>
           </div>
        </header>


    
        <main class="main-chat-mainContent" ref="main" id="enableMainBg">
        

            
            <div class="userChats">
                <h2>Chats</h2>
                <div class="userChat containerTheme" @Click="openMainChat">
                    <p class="userChat__nickName">Main Chat</p>
                </div>
                
                <h3>Private Chats</h3>
                <div v-for="chat in userPrivateChats" class="userChat containerTheme" @Click="openPrivateChat(chat)">
                 
                    <p  class="userChat__nickName">{{chat.receiverNick}}</p>
                    <p  v-if="chat.unreadMessages > 0" class="userChat__unreadMessages">{{chat.unreadMessages}}</p>

                </div>
  
            </div>

            <section class="main-chat-messages contenedor">

                <div class="main-chat-messages-header">
              
                    <h1 v-if="displayPrivateChat">Chat with {{receiverNick}}</h1>
                    <h1 v-else>Main Lobby</h1>
                    
                </div>
             

                <div v-if="displayPrivateChat" class="mainChatMessages">
                    <div v-for="messages in privateChatDisplayed" class="mainChatMessage">
                        <p class="mainChatMessage__messageDate">{{messages.messageDate}}</p>
                        <p v-if="messages.messageType === 'SENDER'" class="mainChatMessage__messageNick">You: </p>
                        <p v-else class="mainChatMessage__messageNick">{{receiverNick}}: </p>
               
                        <p class="mainChatMessage__message">{{messages.message}}</p>
                    </div>
                    <div id="last_message" ref="lastMsg">
        
                    </div>
                </div>

                <div v-else class="mainChatMessages">
                   
                
                    <div v-for="message in generalChat" class="mainChatMessage" :class="message.messageColor">
                        <p class="mainChatMessage__messageDate">{{message.messageDate}}</p>
                        <p class="mainChatMessage__messageNick">{{message.nickName}}: </p>
               
                        <p class="mainChatMessage__message">{{message.message}}</p>

                    </div>
                    <div id="last_message" ref="lastMsg">
        
                    </div>
  
                </div>

            

                <form v-if="displayPrivateChat" class="main-chat-messageForm">
                    <div class="main-chat-messageForm__textareaContainer">
                        <label class="main-chat-messageForm__textareaContainer__label">
                            <textarea class="main-chat-messageForm__textareaContainer__textarea" maxlength="255" v-model="userMessage" @keydown.enter.prevent="sendMessage"></textarea>
                        </label>
            

                        <button class="main-chat-messageForm__textareaContainer__sendBtn btn-theme" type="submit" @Click.prevent="sendMessage" id="" >Send</button>
                    </div>

    
                 
                  
                </form>

                <form v-else class="main-chat-messageForm">
                    <div class="main-chat-messageForm__textareaContainer">
                        <label class="main-chat-messageForm__textareaContainer__label">
                            <textarea class="main-chat-messageForm__textareaContainer__textarea" maxlength="255" v-model="userMessage" @keydown.enter.prevent="sendMessage"></textarea>
                        </label>
            

                        <button href="#last_message"  class="main-chat-messageForm__textareaContainer__sendBtn btn-theme" type="submit" @Click.prevent="sendMessage"  id="">Send</button>
                    </div>


                 
                  
                </form>
                

            </section>


            
           
            <aside class="main-chat-aside">
             
                <div class="usersOnlineContainer">
                    {{searchUser}}

                    <div class="searchUsersContainer">
                        <form class="searchUsersForm">
                            <label class="searchUsersForm__label--search">
                                <input type="text" v-model="searchUser" @keydown.enter.prevent placeholder="Search User">
                            </label>
                            <label class="searchUsersForm__label--fav">
                                <img v-if="searchFriends == true" src="./images/fav-red-icon.png" alt="fav-red-icon" class="fav-icon-red userOnline__icon" @Click="filterFriends()">


                                <svg v-else xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-heart fav-icon-def userOnline__icon"  @Click="filterFriends()" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                    <path d="M19.5 13.572l-7.5 7.428l-7.5 -7.428m0 0a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572" />
                                  </svg>
                               
                            </label>



                        </form>
                    </div>
                    <h2>Online</h2>
                    <div v-for="client in clientsOnline" class="containerTheme ">
            

                        <div v-if="client.clientStatus == 'ONLINE'" class="userOnline">
                            <p>{{client.nickName}}</p>
                 

                       
                            <div v-if="client.id !== clientLogged.id" class="userOnline__icons">
                   
                                
                                <img v-if="client.friendStatus == 'FRIEND'" src="./images/fav-red-icon.png" alt="fav-red-icon" class="fav-icon-red userOnline__icon" @click="deleteFriend(client.id)">

                                
                                <svg v-else xmlns="http://www.w3.org/2000/svg" alt="fav-def-icon"  class="icon icon-tabler icon-tabler-heart fav-icon-def userOnline__icon"  @click="addFriend(client.id)" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                    <path d="M19.5 13.572l-7.5 7.428l-7.5 -7.428m0 0a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572" />
                                  </svg>
                                <!-- <img v-else src="./images/fav-def-icon.png" alt="fav-def-icon" class="fav-icon-def userOnline__icon" @click="addFriend(client.id)"> -->
                           
                    
                                 
                                   
                                   <svg v-if="client.id !== clientLogged.id" @click="checkPrivateChat(client)" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-message-circle chat-icon userOnline__icon" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                     <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                     <path d="M3 20l1.3 -3.9a9 8 0 1 1 3.4 2.9l-4.7 1" />
                                     <line x1="12" y1="12" x2="12" y2="12.01" />
                                     <line x1="8" y1="12" x2="8" y2="12.01" />
                                     <line x1="16" y1="12" x2="16" y2="12.01" />
                                   </svg>
                          
                             
                                 

                            </div>
                        </div>
                     
    
                </div>

               
                </div>

                <h2>Offline</h2>
                <div v-for="client in clientsOnline" class="containerTheme ">
            

                    <div  v-if="client.clientStatus == 'OFFLINE'" class="userOnline">
                        <p>{{client.nickName}}</p>
             
                        <div v-if="client.id !== clientLogged.id" class="userOnline__icons">
               
                    
                            <img v-if="client.friendStatus == 'FRIEND'" src="./images/fav-red-icon.png" alt="fav-red-icon" class="fav-icon-red userOnline__icon" @click="deleteFriend(client.id)">

                       
     
                            <svg v-else xmlns="http://www.w3.org/2000/svg" alt="fav-def-icon"  class="icon icon-tabler icon-tabler-heart fav-icon-def userOnline__icon"  @click="addFriend(client.id)" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <path d="M19.5 13.572l-7.5 7.428l-7.5 -7.428m0 0a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572" />
                              </svg>
                               
                               <svg v-if="client.id !== clientLogged.id" @click="checkPrivateChat(client)" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-message-circle chat-icon userOnline__icon" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                 <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                 <path d="M3 20l1.3 -3.9a9 8 0 1 1 3.4 2.9l-4.7 1" />
                                 <line x1="12" y1="12" x2="12" y2="12.01" />
                                 <line x1="8" y1="12" x2="8" y2="12.01" />
                                 <line x1="16" y1="12" x2="16" y2="12.01" />
                               </svg>
                      
                         
                             
                        </div>
                    </div>
                 

            </div>

                
            </aside>
           
    
            
        </main>

        <footer class="footer">
            <p>Chat app</p>
        </footer>
      


       
    </div>
    
</body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="./scripts/mainchat.js"></script>

</html>