<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatApp</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./web/styles/styles.css">
</head>
<body>

    <div id="app">
        <header>
            <h1>Welcome to chatApp!</h1>
    
        </header>
        
    
        <main>
            <form v-if="showLogInForm == true" id="login-form" class="index-form contenedor" ref="login-form">
    
                <legend class="index-form__legend">Log in to your account</legend>
                <label class="index-form__label">Email
                    <input type="email" v-model="loginEmail" placeholder="example@email.com" @keydown.enter.prevent="login()" @blur="checkLoginEmail()" @mouseenter="resetLoginEmailError()">
                    <p class="index-form-error"> 
                        {{errorLoginEmail}}
                    </p>
                  
                </label>
                <label class="index-form__label">Password
                    <input type="password" v-model="loginPassword" placeholder="Password" @keydown.enter.prevent="login()"  @blur="checkLoginPassword()" @mouseenter="resetLoginPasswordError()">
                    <p class="index-form-error"> 
                        {{errorLoginPassword}}
                    </p>
                </label>
    
                <p class="index-form-error">{{errorLogin}}</p>
                <a @click.prevent="login()" class="index-form__btn">Login</a>
                <p href="#">Not user? <a href="#" @click.prevent="displaySignUpForm()">Sign up</a> </p>
            </form>

            <form v-else id="register-form" class="index-form contenedor" ref="signup-form">
                <legend class="index-form__legend">Sign up</legend>
                <label class="index-form__label">NickName
                    <input type="text" v-model="registerNick" placeholder="Your Nickname" @keydown.enter.prevent="register()" @blur="checkRegisterNick()" @mouseenter="resetRegisterNickError()">
                    <p class="index-form-error"> 
                        {{errorNickName}}
                    </p>
                </label>
                <label class="index-form__label">Email
                    <input type="email" v-model="loginEmail" placeholder="Email" @keydown.enter.prevent="register()" @blur="checkLoginEmail()" @mouseenter="resetLoginEmailError()">
                    <p class="index-form-error"> 
                        {{errorLoginEmail}}
                    </p>
                </label>
                <label class="index-form__label">Password
                    <input type="password" v-model="loginPassword" placeholder="Password" @keydown.enter.prevent="register()" @blur="checkLoginPassword()" @mouseenter="resetLoginPasswordError()">
                    <p class="index-form-error"> 
                        {{errorLoginPassword}}
                    </p>
                </label>
    
                <p class="index-form-error">{{errorLogin}}</p>
                <a @click.prevent="register()" class="index-form__btn">Register</a>
                
                <p href="#">Already user? <a href="#" @click.prevent="displayLogInForm()">Log in</a> </p>
            </form>
        </main>

        <footer>

        </footer>
    </div>
   
</body>


<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="./web/scripts/main.js"></script>
</html>